
/* canvas {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: rgb(0 0 0 / 10%) 0 0 16px 16px
} */
